<h1><%= @discussion.title %></h1>

<div>
  <%= link_to "Back to discussions", discussions_path %>
</div>

<div id="posts">
  <% @discussion.posts.each do |post| %>
    <hr>
    <%= turbo_frame_tag dom_id(post, "turbo") do %>
      <%= render post %>
    <% end %>
  <% end %>
</div>

<hr>

<%= render "posts/form", post: @new_post %>
